Input Description:
To take an integer value

Output Description:
Print the integer value

Sample Input :
2
Sample Output :
2

In [1]:
input1=int(input())
print(input1)

2
2

Input Description:
A single line contains integers separated by space

Output Description:
Print the integer list of integers separated by space

Sample Input :
2 3 4 5 6 7 8
Sample Output :
2 3 4 5 6 7 8

In [2]:
a = list(map(int,input().split()))
print(*a)

2 3 4 5 6 7 8
2 3 4 5 6 7 8

Input Description:
First-line indicates two integers which are the size of array and 'K' value. Second-line indicates an integer contains elements of an array.

Output Description:
Print the taken input in the same format.

Sample Input :
5 3
1 2 3 4 5
Sample Output :
5 3
1 2 3 4 5

In [4]:
a = []
for i in range(2):
  a.append(input())
print("\n".join(a))

5 3
1 2 3 4 5
5 3
1 2 3 4 5

Input Description:
First-line indicates two integers separated by space. Second-line indicates two integers separated by space. Third-line indicates two integers separated by space.

Output Description:
Print the input in the same format.

Sample Input :
2 4
2 4
2 4
Sample Output :
2 4
2 4
2 4

In [5]:
a, b = list(map(int, input().split(' ')))
c, d = list(map(int, input().split(' ')))
f, g = list(map(int, input().split(' ')))
print(a, b)
print(c, d)
print(f, g)

2 4
2 4
2 4
2 4
2 4
2 4

Input Description:
Three integers are given in line by line.

Output Description:
Print the integers in a single line separate by space.

Sample Input :
2
4
5
Sample Output :
2 4 5

In [6]:
a=int(input())
b=int(input())
c=int(input())
print(str(a)+" "+str(b)+" "+str(c))

2
4
5
2 4 5

Input Description:
First-line indicates two integers separated by space. Second-line indicates three integers separated by space. Third-line indicates three integers separated by space

Output Description:
Print the input in the same format.

Sample Input :
2 5
2 5 6
2 4 5
Sample Output :
2 5
2 5 6
2 4 5

In [7]:
a, b = list(map(int, input().split(' ')))
c, d, e = list(map(int, input().split(' ')))
f, g, h = list(map(int, input().split(' ')))
print(a, b)
print(c, d, e)
print(f, g, h)

2 5
2 5 6
2 4 5
2 5
2 5 6
2 4 5

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by space.

Sample Input :
guvi
Sample Output :
g u v i

In [8]:
a= input()
print(" ".join(a))

GUVI
G U V I

nput Description:
A single line contains three float values separated by space.

Output Description:
Print the float value separated by line.

Sample Input :
2.3 4.5 7.8
Sample Output :
2.3
4.5
7.8

In [10]:
a, b, c = list(map(float, input().split(' ')))
print(a)
print(b)
print(c)

2.3 4.5 7.8
2.3
4.5
7.8

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by line.

Sample Input :
guvigeek
Sample Output :
g
u
v
i
g
e
e
k

In [11]:
a=input(str(""))
for i in range (0, 8):
  print(a[i])

GUVIGEEK
G
U
V
I
G
E
E
K

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by comma.

Sample Input :
guvi
Sample Output :
g,u,v,i

In [12]:
a=input()
print(",".join(a))

GUVI
G,U,V,I